<nav class="navbar bg-black ">
    <div class="container-fluid ">
      <a class="navbar-brand text-white" href="#">
        <img src="/images/icon/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Node js
      </a>
      <div>
        <a class="navbar-brand text-white" href="/servicios">Servicios</a>
      <a class="navbar-brand text-white" href="/mascotas">Mascotas</a>
      </div>
    </div>
  </nav>